.my-header {
    margin: 50px;
}
.hinzufuegen-form-kreuz, .bearbeiten-form-kreuz {
    text-align: right;
    margin-bottom: -15px;
}
.hinzufuegen-form-kreuz i, .bearbeiten-form-kreuz i {
    color: tomato;
    cursor: pointer;
    font-size: 30px;
}
.mr-5 {
    margin-right: 5px;
}
.ml-5 {
    margin-left: 5px;
}
.buttons-container {
    position: relative;
}
.sicher-felder {
    position: absolute;
    left: 100px;
    top:9px;
}
.buttons-container {
    min-width: 240px;;
}
.kategorie-list {
    box-shadow: 0px 2px 5px 2px #6c757d;
}
.kategorie-list p {
    padding: 5px;
    cursor: pointer;
    margin-bottom: 0px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.kategorie-list p:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.ul-kategorie-list .list-group-item, .ul-preis-list .list-group-item {
    cursor: pointer;
}

.ul-kategorie-list .list-group-item:hover,  .ul-kategorie-list .list-group-item.active, .ul-preis-list .list-group-item:hover,  .ul-preis-list .list-group-item.active{ 
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

